.main {
	height: 100vh;
	position: relative;
	max-width: 1350px;
	margin: 0 auto;
}

.container {
	padding: 1rem;
}

.row {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 1rem;
}

.heading {
	font-size: 2rem;
	font-weight: 500;
	color: #333;
	margin: 0 auto;
}

.orderDetails {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	gap: 1rem;
}

.delivery {
	box-shadow: 0 0 10px 0 #3333335e;
	background-color: #fff;
	width: 100%;
	padding: 0.8rem;
}

.delivery h2 {
	font-size: 1rem;
	font-weight: 600;
	color: #333;
}

.address {
	padding: 0.5rem 0;
}

.address p {
	font-size: 1rem;
	font-weight: 400;
	color: #333;
}

.products {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 1rem;
}

.productCard {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 1rem;
	box-shadow: 0 0 10px 0 #3333335e;
}

.productInfo {
	display: flex;
	gap: 1rem;
	flex: 1;
}

.productInfo .image {
	width: 100px;
	height: 100px;
}

.details h2 {
	font-size: 1.2rem;
	font-weight: 500;
	color: #333;
}

.details p {
	font-size: 1rem;
	font-weight: 400;
	color: #333;
}

.orderSummary {
	width: calc(100% / 3);
	display: flex;
	flex-direction: column;
	align-items: center;
}
